<head>
  <meta charset="UTF-8">
  <title>Title 1</title>
  {{!-- TODO: add meta tags --}}
</head>
<body>
  {{#each articles}}
    <img src="{{this.image}}">
    <h2><a href="/article/{{this.url}}">{{this.title}}</a></h2>
  {{/each}}
  
</body>
